.about-wrapper{
    border: 30px solid rgb(228, 175, 207);
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-wrapper>h1{
  text-decoration: underline;
  }

  .about-me{ 
    border: 5px solid lightgrey;
    padding-left: 10%;
    text-align: left;

  }
  
  .allGalleries{
    border: 10px solid rgb(179, 177, 174);
    display: flex;
    justify-content: space-between;
  
  }
  
  .gallery{
    border: 10px solid rgb(173, 182, 180);
    margin-left: 1.5%;
    width: 20%;
  }
  
 /* .gallery img {
    width: 50%;
  }*/

  div.gallery img {
    width: 60%;
    height: 70%;
    object-position: center;
  }
  
  
  .column img {
    width: 100%;
  } 

  div.desc {
    padding: 15px;
    text-align: left;
  }

 /* div.gallery:hover {
    border: 1px solid #777;
  }

   /* div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 20%;
    height: 10%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }  */