.about-wrapper{
    border: solid rgb(131, 209, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .allGalleries{
    border: solid rgb(145, 136, 116);
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .gallery{
    border: solid rgb(196, 245, 237);
    width: 20%;
  }
  
  .gallery img {
    width: 30%;
  }
  
  .column img {
    width: 100%;
  }

  /* div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 20%;
    height: 10%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }  */