.header{
    border: solid white;
    text-align: center;
    margin: 2% 5%;
    font-family: "Times New Roman", Times, serif;
}

.header>h1{
    text-decoration: underline overline;
}

.Recipes_Container{
        border: 15px solid rgb(236, 210, 187);

}

.Recipe_Container{
    border: 40px solid  #d4d2d0;
    background: whitesmoke;
    margin: 0 auto;
    width: 90%;
    padding: 5%;
  
}

.Recipe_Container > h1 {
    border: 30px solid rgb(247, 239, 239);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    margin-bottom: 1%;
    line-height:2;
    text-align: center;
}

.Recipe_Container > img {
    border: 30px solid  #ebebdd;
    width: 500px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  /*  margin:  30px 250px;*/
  /*  object-fit: center;*/
 
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit witht the value "contain"*/
}

.Recipe_Container > img:hover {
    transform: scaleX(-1);
  }